:root {
  --sidebar-footer-height: 100px;
  --sidebar-extra-small-default-padding: 24px;
}
.channel-list{
  color:#ccc;
    font-size:0.8rem !important;
}
.ircuser.header{
  background-color:#1D74F5;
  color:#fff;
  margin:5px 0;
  padding:5px 0 10px 0;
  height:35px;
}
.ircuser:hover{
  background-color:#ccc;
  cursor:pointer;
}
.ircuser {
  display:block;
  overflow:hidden;
  height:30px;
  padding-top:3px;
}
.ircuser *{
  display:inline;

}
.ircuser img{
  width:25px;
  vertical-align:middle;
  margin-right:20px;
}
.ircinactivo  .message-alias,
.ircactivo  .message-alias{
  display:none;
}
.ircinactivo::after{
  content:" ";
  width:7px;
  height:7px;
  display:inline-block;
  background-color:#ff0000;
  border-radius:50%;
  margin:2px 5px !important;
}
.ircactivo::after{
  content:" ";
  width:7px;
  height:7px;
  display:inline-block;
  background-color:#8DB141;
  border-radius:50%;
  margin:2px 7px !important;
}
.message .user{
 height:20px; 
}
.primary-background-color {
 background-color:#04436a
}

.channel-list strong{
display:block ;
  margin-bottom:-3px;

}
.channel-list a{
border-width:0 !important;
  margin-top:4px;
  color:#aaa !important;
}
.channel-list li:hover a{
color:#fff !important;
  cursor:pointer;
}

#channellist{
 position:absolute;
 top:70px;
 background-color:#ccc;
 color:#2F343D;
 padding:6px;
 border-radius:3px;
 z-index:1;
 display:none;
}
.logged #channellist{
 display:block;
}
#channellist:hover{
 background-color:#fff;
}

.page-home{
 background-image:url(https://media.inkscape.org/dl/resources/file/pattern_7iFf7Mh.svg),url(https://media.inkscape.org/dl/resources/file/pattern_7iFf7Mh.svg),url(https://media.inkscape.org/dl/resources/file/sc_ngarai_sianokk.svg), url(https://media.inkscape.org/static/images/inkscape-logo.svg);
 background-size:5px 5px,100px 100px, cover, 250px 250px;
 background-repeat:repeat,repeat,no-repeat,no-repeat;
 background-position:center center;
}
.page-home section{
 background-color:transparent;
}
.page-home .rc-header__wrap{
 background-color:rgba(47,52,61,0.8);
 color:#fff;
}
.page-home .intro{
 background-color:rgba(47,52,61,0.9);
 padding:20px;
 line-height:1.4;
 color:#fff;
}

.page-home .intro h2{
 margin:15px 0 0 0 !important; 
}
.page-home .intro a{
 color:#fff;
 border-width:0 0 1px 0;
 border-style:solid;
 border-color:#fff;
 padding-bottom:1px !important;
 display: inline-block;
}
.page-home .intro a:hover{
 border-style:dashed;
}
.page-home.page-settings{
 background-image:none !important; 
}
.page-home.page-settings .rc-header__wrap{
 background-color:#fff;
 color:#333;
}

.page-home.page-list{
 background-image:none !important; 
}
.page-home.page-list .rc-header__wrap{
 background-color:#fff;
 color:#333;
}

.rc-directory th:nth-child(4),
.rc-directory td:nth-child(4),
.rc-directory td:nth-child(2),
.rc-directory th:nth-child(2)

{
  display:none;
}
.rc-directory{
  max-width:100%;
}
.rc-directory th:nth-child(1),
.rc-directory td:nth-child(1)
{
  width:250px;
}
.rc-directory th:nth-child(5),
.rc-directory td:nth-child(5)
{
  overflow: visible;
  white-space: normal;
  font-weight:normal;
  color:#555;
}

